# Global ignore patterns for whole project
# =========================================


# IDE caches
.vs/
.vscode/
.idea/

# .NET
bin/
obj/

# Frontend
front/restaurant-ui/node_modules/
front/restaurant-ui/dist/

# System files
.DS_Store
Thumbs.db

# Environment variables
*.env
*.env.*

# Docker
docker-compose.override.yml
**/.docker/
**/.dockerignore
deploy/postgres-data/
pgdata/
db-data/

# Logs
*.log
logs/
*.v2
.vs/RestaurantSys/DesignTimeBuild/.dtbcache.v2
.vs/RestaurantSys/FileContentIndex/754e1981-e8ad-4bd1-b6b3-4341dd9774b8.vsidx
.vs/RestaurantSys/CopilotIndices/17.14.670.39694/CodeChunks.db
.vs/RestaurantSys/CopilotIndices/17.14.670.39694/SemanticSymbols.db
.vs/RestaurantSys/CopilotIndices/17.14.670.39694/SemanticSymbols.db
.vs/RestaurantSys/CopilotIndices/17.14.670.39694/CodeChunks.db
.vs/
